
<div class="m-portlet m-portlet--unair">
   
    <div class="m-portlet__body">
        <h1>
            @CommonText.SelectAddress
        </h1>
    </div>

    <div class="m-portlet__foot">


        <div class="row justify-content-end actions">
            <div class="col-md-4 col-6 previous">
                <a href="javascript:;" class="next btn btn-danger m-btn m-btn--custom btn-block">
                    @CommonText.Prev
                </a>

            </div>
            <div class="col-md-4 col-6 next">
                <a href="javascript:;" class="btn btn-brand m-btn m-btn--custom btn-block">
                    @CommonText.Next
                </a>
            </div>
        </div>
    </div>
</div>

