
@{
    ViewData["Title"] = CommonText.AccessDenied;
}


    <div class="alert alert-danger fade show" role="alert">
        <div class="alert-icon"><i class="la la-exclamation"></i></div>
        <div class="alert-text">
            @MessageText.AccessDenied !
        </div>
        
    </div>