@model AddressViewModel


<div class="kt-portlet kt-portlet--responsive-mobile">
    <div class="kt-portlet__head">
        <div class="kt-portlet__head-label">
            <span class="kt-portlet__head-icon">
                <i class="flaticon-edit kt-font-brand"></i>
            </span>
            <h3 class="kt-portlet__head-title kt-font-brand">
                @CommonText.Add
            </h3>
        </div>
    </div>
    <form method="post"
          asp-action="Add">

        <div class="kt-portlet__body">
            <partial name="_Form" />
        </div>

        <div class="kt-portlet__foot">

            <button type="submit" class="btn btn-brand btn-sm">
                <i class="fa fa-plus"></i>
                @CommonText.Add
            </button>

            <a asp-action="Index" class="btn btn-sm btn-danger">
                <i class="fa fa-ban"></i>
                @CommonText.Cancel
            </a>
        </div>
    </form>
</div>
