@using CreaDev.Framework.Web.Mvc.Html.Helpers.Bootstrap
@model GpuMiningInsights.Web.Models.Search.CoinSearchCrietriaViewModel


<div class="row">
    <div class="col-md-4">
        @Html.BootstrapTextBoxFor(a => a.Name)
    </div>
    <div class="col-md-4">
        
    </div>
</div>

