@model LoginViewModel

<div class="form-group">
    <input class="form-control" type="text" placeholder="@CommonText.Email" autocomplete="off" asp-for="Email">
</div>
<div class="form-group">
    <input class="form-control" type="password" placeholder="@CommonText.Password" asp-for="Password">
</div>
