<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="AmazonUk_AccessKey" value="AKIAI6YFV4IQDUUAN6MQ"/>
    <add key="AmazonUk_SecreteKey" value="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"/>
  </appSettings>
</configuration>
