<!-- begin:: Header -->
<div id="kt_header" class="kt-header kt-grid__item  kt-header--fixed ">

    <!-- begin:: Header Menu -->

    <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
        <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile  kt-header-menu--layout-default ">

        </div>
    </div>
    <!-- end:: Header Menu -->
    <!-- begin:: Header Topbar -->
    <div class="kt-header__topbar">

        <!--begin: Language bar -->
        <div class="kt-header__topbar-item kt-header__topbar-item--langs">
            <div class="kt-header__topbar-wrapper">

                @if (Language.IsEnglish)
                {
                    <a asp-all-route-data="ViewContext.RouteData.Values.ToRouteValues()" asp-route-culture="ar" class="lang-link">
                        <div class="kt-header__topbar-text">

                            <i class="fa fa-globe"></i>
                            عربي
                        </div>
                    </a>
                }
                else
                {
                    <a asp-all-route-data="ViewContext.RouteData.Values.ToRouteValues()" asp-route-culture="en" class="lang-link">
                        <div class="kt-header__topbar-text">

                            <i class="fa fa-globe"></i>
                            English

                        </div>
                    </a>
                }


            </div>

        </div>

        <!--end: Language bar -->
        <!--begin: User Bar -->
        <div class="kt-header__topbar-item kt-header__topbar-item--user">
            <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="0px,0px">
                <div class="kt-header__topbar-user">
                    <span class="kt-header__topbar-welcome kt-hidden-mobile">
                        @CommonText.Hello,
                    </span>
                    <span class="kt-header__topbar-username kt-hidden-mobile">
                        User
                    </span>

                    <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                    <span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold">
                        U
                    </span>

                </div>
            </div>
            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-top-unround dropdown-menu-xl">

                <!--begin: Head -->
                <div class="kt-user-card kt-user-card--skin-dark kt-notification-item-padding-x" style="background-image: url('/assets/media/misc/bg-1.jpg')">
                    <div class="kt-user-card__avatar">

                        <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                        <span class="kt-badge kt-badge--lg kt-badge--rounded kt-badge--bold kt-font-success">
                            U
                        </span>
                    </div>
                    <div class="kt-user-card__name">
                        @User.GetEmail()
                    </div>

                </div>

                <!--end: Head -->
                <!--begin: Navigation -->
                <form method="post"
                      asp-area=""
                      asp-action="Logout"
                      asp-controller="Account">
                    <div class="kt-notification">
                        <div class="kt-notification__custom ">

                            <button type="submit"
                                    class="btn btn-label btn-label-brand btn-sm btn-bold btn-block">

                                @CommonText.Logout
                            </button>

                        </div>
                    </div>
                </form>


                <!--end: Navigation -->
            </div>
        </div>

        <!--end: User Bar -->
    </div>

    <!-- end:: Header Topbar -->
</div>
<!-- end:: Header -->