@model AddUserViewModel
@inject IUserService userService

@{
    var roles = userService.GetRoles();
}
<bootstrap-input-form-group for="Email" />

<div class="row">
    <div class="col-md-6">
        <bootstrap-password-form-group for="Password" />

    </div>
    <div class="col-md-6">
        <bootstrap-password-form-group for="ConfirmPassword" />
    </div>
</div>

<div class="form-group">
    <div class="kt-checkbox-list">
        @foreach (var item in roles)
        {


            <label class="kt-checkbox kt-checkbox--bold kt-checkbox--brand">
                <input type="checkbox" name="Roles" value="@item.Id" />
                @item.Description
                <span></span>
            </label>


        }
        </div>

    </div>
